name: Build & Run Spring Boot App

on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: self-hosted  # matches Jenkins agent label

    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Environment
        run: ./Env_setup.sh

      - name: Build with Maven
        run: mvn clean package

      - name: Run Spring Boot Application
        run: mvn spring-boot:run
